<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
</head>
<body class='GallaryPageBody'>
<h3 class='my_page_head' ng-bind='( page_name | uppercase )'></h3>
<div>
<div class='col-sm-3 col-xs-12'>
<div class='form-group'>
    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
 </div><div class='form-group'>
    <select ng-model="pageSize" id="pageSize" class="form-control">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
     </select>
     </div>
     <div class='form-group'>
         <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>
<div  class='col-sm-9 col-xs-12'>
<div class='table-responsive'>
    <table class='table'>     
        <tr>
            <th style='padding:10px;' ng-bind='(table_id | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_firstname | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_lastname | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_hometown | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_job | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_age | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_edit | uppercase)'></th>
            <th style='padding:10px;' ng-bind='(table_delete | uppercase)'></th>
        </tr>
        <tr ng-repeat="item in items | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td style='padding:10px;' ng-bind='(item.id)'></td>
            <td style='padding:10px;' ng-bind='(item.FirstName | uppercase)'></td>
            <td style='padding:10px;' ng-bind='(item.LastName | uppercase)'></td>
            <td style='padding:10px;' ng-bind='(item.HomeTown | uppercase)'></td>
            <td style='padding:10px;' ng-bind='(item.Job | uppercase)'></td>
            <td style='padding:10px;' ng-bind='(item.Age)'></td>
            <td style='padding:10px;' ><button ng-model='item' ng-click='my_edit_btn(item.id);my_popup_show(item.id)'> > Edit </button></td>
            <td style='padding:10px;' ><button ng-model='item' ng-click='my_delete_btn(item.id)'> > Delete </button></td>
        </tr>
    </table>
    </div>
    </div>
    <div ng-show='my_popup' id='popup'> 
        <div id='popup_cancel' ng-click='my_popup_hide()'>&times;</div>    
        <form class='my_add_data' >
               
                    <div class='col-sm-3 col-xs-12'>
                        <div class="form-group">
                            <label>First Name:</label>
                        </div>
                    </div>
                     <div class='col-sm-9 col-xs-12'>
                        <div class="form-group">
                            <input  class='form-control' type="text" ng-model="fName" required>
                        </div>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <div class="form-group">
                            <label>Last Name:</label>
                        </div>
                     </div>
                     <div class='col-sm-9 col-xs-12'>
                        <div class="form-group">
                            <input class='form-control' type="text" ng-model="lName" required>
                        </div>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <div class='form-group'>
                              <label>Home Town:</label>
                        </div>
                    </div>
                    <div class='col-sm-9 col-xs-12'>
                        <div class='form-group'>
                            <input class='form-control' type="text" ng-model="homeTown" required>
                        </div>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <div class='form-group'>
                            <label>Job:</label>
                        </div>
                    </div>
                    <div class='col-sm-9 col-xs-12'>
                        <div class='form-group'>
                            <input class='form-control' type="text" ng-model="userJob" required>
                         </div>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <div class='form-group'>
                            <label>Age:</label>
                        </div>
                    </div>
                    <div class='col-sm-9 col-xs-12'>
                        <div class='form-group'>
                            <input class='form-control' type="text" ng-model="userAge" maxlength='3' required>
                        </div>
                    </div>
                    <div class='form-group'>
                        <button ng-bind='( submit_data | uppercase)' type="button" class="btn btn-default my_add_submit_btn" ng-click="updsubmitForm()"></button>
                    </div>
                    <div class='form-group'>
                        <span ng-bind='successmsg'></span>  
                    </div>
        </form>  
    </div>
    <div ng-show='my_cover' id='cover' ></div> 
</div>
</body>
</html>
